.loader {
  width: 100px;
  aspect-ratio:1;
  position: fixed;
  top: 45%;
  left: 45%;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(11);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 30% 10.5%,
    #c3c3c4 90%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 10.5% 30%,
    #88888b 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}


  