
.custom-select-container {
    position: relative;
    width: 200px;
  }
  
  .custom-select-header {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
  }
  
  .custom-select-list {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    margin-top: 5px;
  }
  
  .custom-select-option {
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-select-option:hover,
  .custom-select-option.selected {
    background-color: gray;
    color: white;
  }
  