.timeframefilter{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#4B5563;
    font-weight: 500;
   
}
.selectoption{
   color: #4B5563;
    width: 150px;
    outline: none;
    border: none;
   height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 500;
 
}
.clear-filters{
    margin-left: 1rem;
    cursor: pointer;
}

option {
    font-size: 16px;
    background-color: #ffffff;
    cursor: pointer;
}
 

.selected{
    background: rgb(190, 187, 187);
}

.filtercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 80%;  
    height: 16px; 
}

.pastfilter{
    display: flex;
    gap:8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color:#4B5563;
    font-weight: 500;
}